In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("housing_prices_SLR.csv")
dataset

    AREA  PRICE
0   1000   5618
1   1030   5201
2   1060   4779
3   1090   5425
4   1120   5657
5   1150   4945
6   1180   6475
7   1210   5352
8   1240   6290
9   1270   6147
10  1300   7718
11  1330   7035
12  1360   8712
13  1390   9457
14  1420   7304
15  1450   7535
16  1480   9968
17  1510   7614
18  1540   9762
19  1570  10067
20  1600   8074
21  1630  10201
22  1660  10051
23  1690   9775
24  1720  10229
25  1750   8314
26  1780   9288
27  1810  10503
28  1840   9763
29  1870  11527
30  1900   9912
31  1930  10204
32  1960   9085
33  1990  10240
34  2020  15220
35  2050  12278
36  2080  22270
37  2110  12574
38  2140  12618
39  2170  15457
40  2200  12793
41  2230  12641
42  2260  17207
43  2290  16969
44  2320  16293
45  2350  16845
46  2380  17604
47  2410  17310
48  2440  14036
49  2470  13699

In [3]:
dataset.isnull().any()

AREA     False
PRICE    False
dtype: bool

In [6]:
x=dataset.iloc[0:, 0:1]
y=dataset.iloc[0:, 1:]
x=x.values
y=y.values

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8, random_state=42)

In [8]:
from sklearn.linear_model import LinearRegression
linear=LinearRegression()
model=linear.fit(x_train,y_train)
prediction=model.predict(x_train)
prediction

array([[ 7505.57431893],
       [ 5487.959645  ],
       [13810.62017496],
       [ 6496.76698197],
       [ 5235.75781076],
       [ 5992.36331348],
       [14819.42751193],
       [16080.43668313],
       [16332.63851737],
       [ 8262.17982165],
       [ 6748.96881621],
       [ 8514.38165589],
       [10531.99632982],
       [13054.01467224],
       [12297.40916951],
       [ 4479.15230804],
       [15576.03301465],
       [11288.60183255],
       [12801.812838  ],
       [ 5740.16147924],
       [11793.00550103],
       [ 7253.37248469],
       [13558.41834072],
       [ 4731.35414228],
       [ 9775.3908271 ],
       [ 4983.55597652],
       [15323.83118041],
       [13306.21650648],
       [10279.79449558],
       [14567.22567768],
       [ 7001.17065045],
       [10027.59266134],
       [ 9018.78532438],
       [16837.04218586],
       [ 9523.18899286],
       [ 6244.56514772],
       [15071.62934617],
       [ 8009.97798741],
       [11540.80366679],
       [14062.8220092 ]])

In [9]:
r=model.score(x_train,y_train)
r

0.8000463764520339